.DS_Store
uLuaTest/Library/AssetImportState
uLuaTest/Library/AssetServerCacheV3
uLuaTest/Library/AssetVersioning.db
uLuaTest/Library/FailedAssetImports.txt
uLuaTest/Library/ScriptAssemblies
uLuaTest/Library/ScriptMapper
uLuaTest/Library/assetDatabase3
uLuaTest/Library/cache
uLuaTest/Library/expandedItems
uLuaTest/Library/metadata
uLuaTest/Library/previews
uLuaTest/Library/guidmapper
uLuaTest/Library/CurrentLayout.dwlt
uLuaTest/Library/CurrentMaximizeLayout.dwlt
uLuaTest/Library/InspectorExpandedItems.asset
uLuaTest/Library/EditorUserBuildSettings.asset
uLuaTest/Library/ShaderCache.db
uLuaTest/Library/ShaderCache/
Temp
obj
build
*.svd
*.pidb
*.userprefs
*.suo
*.user
*.csproj
*.unityproj
*.sln
*.sh
*.log
*.bat
.metadata
